@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@500;600;700&display=swap");

:root {
  --font-inter: "Inter", system-ui, sans-serif;
  --font-poppins: "Poppins", system-ui, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#__next {
  height: 100%;
}





